@charset "UTF-8";
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  line-height: 1.2;
  font-family: europa,"游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

.pc {
  display: none;
}

.sp {
  display: block;
}

header {
  background-color: #000000cf;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: auto;
  bottom: 0;
}

header .gnav {
  width: 94%;
  margin: 0 auto;
}

.navimenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 0 2% 0;
}

.navimenu li {
  color: #FFF;
  text-align: center;
  width: 25%;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.navimenu li a {
  color: #FFF;
}

.navimenu li a img {
  margin: 0 auto 4%;
  width: 30%;
  max-width: 30px;
}

.under_page_rogos {
  width: 100%;
  background: #333333;
}

.under_page_rogos img {
  width: 50%;
  margin: 0 auto;
  padding: 4% 0 4% 0;
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 10% 0;
  color: #333333;
  letter-spacing: 4px;
}

.wrapper_works {
  padding: 0 0 20% 0;
}

.wrapper_works ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.wrapper_works ul li {
  margin: 0 auto 16%;
  width: 80%;
}

.wrapper_works ul li a img {
  margin: 0 auto 7%;
  width: 70%;
}

.wrapper_works ul li dl {
  font-size: 1.6rem;
}

.wrapper_works ul li dl dt {
  margin: 0 0 3% 0;
}

footer {
  text-align: center;
  color: #353535;
  padding: 7% 0;
  height: 20vh;
  font-size: 4vw;
}

@media (min-width: 768px) {
  header {
    height: auto;
  }
  .navimenu {
    padding: 10px 0 10px 0;
  }
  .navimenu li {
    font-size: 1.2rem;
  }
  .navimenu li a img {
    margin: 0 auto 2%;
    max-width: 30px;
  }
  .under_page_rogos img {
    width: 30%;
    padding: 3% 0 3% 0;
  }
  h2 {
    font-size: 3.8vw;
    margin: 0 0 10% 0;
  }
  .wrapper_works ul {
    width: 80%;
  }
  .wrapper_works ul li {
    width: 40%;
  }
  .wrapper_works ul li a img {
    width: 100%;
    margin: 0;
    padding: 4%;
  }
  footer {
    height: 26vh;
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .pc {
    display: block;
  }
  .sp {
    display: none;
  }
  header {
    height: 50px;
    top: 0;
    bottom: unset;
  }
  header .gnav {
    width: 100%;
    max-width: 980px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0 0 0;
  }
  header .gnav img {
    display: block;
    width: 20%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .navimenu {
    padding: 0 0 0 0;
    width: 48%;
  }
  .navimenu li {
    font-size: 1.4rem;
  }
  .navimenu li a img {
    display: none;
  }
  h2 {
    font-size: 34px;
    margin: 0 0 60px 0;
  }
  .wrapper_works ul li a img {
    padding: 3%;
    margin: 0 auto;
  }
  footer {
    padding: 10px 0 20px 0;
    height: auto;
    font-size: 14px;
  }
}
/*# sourceMappingURL=common.css.map */