
.container_title{
    background: linear-gradient(25deg, rgba(0, 0, 0, 0.64), rgba(55, 105, 0, 0.4)), url(https://polm.work/portfolio/images/plans-1867745_1920.jpg);
    height: calc(100vh - 98px);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0 0 26% 0;
    h1{
        position: absolute;
        top: 70%;
        left: 4%;
        font-size: 2.5rem;
        color: #FFF;
    }
    img{
        max-width: 120px;
        margin: 0 auto;
        padding: 20vh 0 0 0;
    }
}

.wrapper_works{
    ul{
        li:nth-child(n+5){
            display: none;
        }
    }
}

.btn_more{
    display: block;
    width: 36%;
    text-align: center;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 1% 0;
    border: 1px solid;
    color: #333333;
    letter-spacing: 2px;
    font-size: 1.4rem;
}

.container_profile{
    background-color: #F7F7F7;
    .wrapper_profile{
        padding: 14% 0 16% 0;
        .box_profile{
            width: 70%;
            margin: 0 auto;
            img{
                width: 40%;
                margin: 0 auto 6%;
                max-width: 220px;
            }
            dl{
                margin: 0 0 10% 0;
                font-size: 1.6rem;
                dt{
                    text-align: center;
                    padding: 0 0 16% 0;
                    span{
                        font-size: 1.6rem;
                    }
                }
                dd{
                    padding: 0 0 8% 0;
                    line-height: 1.8;
                }
            }
        }
    }
}

@media (min-width: 768px) {

.container_title{
    background: linear-gradient(25deg, rgba(38, 45, 30, 0.64), rgba(68, 105, 34, 0.55)), url(https://polm.work/portfolio/images/plans-1867745_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
    margin: 0 0 16% 0;
    h1{
        font-size: 2.8rem;
        text-align: center;
        position: relative;
        top: 350px;
        left: unset;
        }
    img{
        width: 120px;
        padding: 20px 0 0 0;
        }
    }

    .wrapper_works{
        ul{
            flex-wrap: wrap;
            width: 76%;
            flex-direction: unset;
            li:nth-child(n+5){
                display: block;
            }
            li{
                margin: 0 auto 16%;
                width: 44%;
                max-width: 500px;
                a{
                    @mixin hideTapHighlightColor() {
                        //Prevent highlight colour when element is tapped
                        -webkit-tap-highlight-color: rgba(0,0,0,0);
                    }

                    @mixin hardwareAccel() {
                        //Improve performance on mobile/tablet devices
                        transform: translateZ(0);
                    }

                    @mixin improveAntiAlias() {
                        //Improve aliasing on mobile/tablet devices
                      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    }

                    $defaultDuration: .3s;
                    $primaryColour: #ececec;
                    $secondaryColour: #666;
                    $shadowColour: rgba(0, 0, 0, 0.899);

                    display: inline-block;
                    $borderWidth: 2px;

                    transition-duration: $defaultDuration;
                    transition-property: box-shadow;

                    @include hideTapHighlightColor();
                    @include hardwareAccel();

                    // box-shadow:
                    // inset 0 0 0 $borderWidth $primaryColour,0 0 1px rgba(0, 0, 0, 0); /* Hack to improve aliasing on mobile/tablet devices */

                    &:hover {
                        box-shadow:
                        inset 0 0 0 $borderWidth $secondaryColour,0 0 1px rgba(0, 0, 0, 0); /* Hack to improve aliasing on mobile/tablet devices */
                    }

                    margin: 0 0 10px 0;

                }
                img{
                    margin: 0 auto 10%;
                    width: 100%;
                }
                dl{
                    font-size: 1.6rem;
                    dt{
                    }
                }
            }
        }
    }

    .btn_more{
        width: 30%;
        padding: 1% 0;
        font-size: 1.6rem;
    }

    .container_profile{
        .wrapper_profile{
            .box_profile{
                width: 60%;
                img{
                    width: 100%;
                    margin: 0 auto 6%;
                    max-width: 210px;
                }
                dl{
                    font-size: 2rem;
                    dt{
                        font-size: 1.6rem;
                        span{
                            font-size: 2rem;
                        }
                    }
                    dd{
                        line-height: 1.8;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }


}


@media (min-width: 1024px) {
    .container_title{
        margin: 0 0 150px 0;
        height: 530px;
        h1{
            font-size: 28px;
        }
        .rogo_sp{
            padding: 90px 0 0 0;
        }
    }

    .wrapper_works{
        padding: 0 0 140px 0;
        ul{
            width: 100%;
            max-width: 980px;
            padding: 0 0 20px 0;
            li:nth-child(n+5){
                display: block;
            }

            li{
                width: calc(100% / 3);
                max-width: 250px;
                margin: 0 auto 60px;

                img{
                }
                dl{
                    font-size: 14px;
                    dt{
                    }
                }
            }
        }
    }

    .btn_more{
        width: 300px;
        font-size: 16px;
        padding: 12px 0;
        transition: 0.3s;
    }
    .btn_more:hover{
        background-color: #333333;
        color: #ffffff;
        transition: 0.3s;
    }

    .container_profile{
        .wrapper_profile{
            padding: 140px 0 120px 0;
            .box_profile{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                max-width: 920px;
                margin: 0 auto;
                img{
                    width: 100%;
                    max-width: 320px;
                    margin: unset;
                    object-fit: contain;
                }
                dl{
                    width: 100%;
                    max-width: 540px;
                    padding: 0 0 0 30px;
                    dt{
                        text-align: left;
                        font-size: 16px;
                        padding: 0 0 20px 0;
                        span{
                            font-size: 16px;
                        }
                    }
                    dd{
                        font-size: 16px;
                    }
                }
            }
        }
    }

}
