
.wrapper_works{
    padding: 30% 0 20% 0;
    .box_category{
        display: flex;
        flex-wrap: wrap;
        flex-direction: unset;
        text-align: center;
        margin: 0 auto 20%;
        li{
            width: 50%;
            margin: 0 0 6% 0;
        }
    }
}


@media (min-width: 768px) {

    .wrapper_works{
        ul{
            flex-direction: unset;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            li{
                width: 46%;
                img{
                }
                dl{
                    font-size: 2rem;
                    dt{
                    }
                }
            }
        }
    }



}

@media (min-width: 1024px) {

}
