main{
    height: auto;
}

.wrapper_contact{
    padding: 30% 0 28% 0;
    text-align: center;
    img{
        width: 18%;
        max-width: 80px;
        margin: 0 auto 6%;
    }
    p{
        font-size: 1.6rem;
        margin: 0 0 2% 0;
    }
}


.container_sns{
    margin: 0 0 30% 0;
    .wrapper_sns{
        .box_sns{
            h3{
                margin: 0 0 8% 0;
                text-align: center;
            }
            ul{
                width: 60%;
                margin: 0 auto 14%;
                display: flex;
                justify-content: space-between;
                li > img{
                    width: 100%;
                    max-width: 30px;
                }
            }
        }
    }
}
@media (min-width: 768px) {
    .wrapper_contact{
        padding: 24% 0 20% 0;
        img{
            width: 30%;
            max-width: 120px;
        }
        p{
        }
    }
    .container_sns{
        .wrapper_sns{
            .box_sns{
                h3{
                }
                ul{
                    width: 66%;
                    li > img{
                        max-width: 54px;
                    }
                }
            }
        }
    }

}

@media (min-width: 1024px) {
    main{
        height: auto;
    }
    .wrapper_contact{
        padding: 170px 0 100px 0;
        img{
            max-width: 70px;
            margin: 0 auto 26px;
        }
        p{
            font-size: 22px;
            margin: 0 0 10px 0;
        }
    }

    .container_sns{
        margin: 0 0 120px 0;
        .wrapper_sns{
            .box_sns{
                h3{
                }
                ul{
                    width: 370px;
                    li > img{
                        max-width: 44px;
                    }
                }
            }
        }
    }
}
