

.wrapper_profile{
    padding: 30% 0 20% 0;
    div > img{
        width: 30%;
        margin: 0 auto 6%;
        max-width: 220px;
    }
    .box_profile{
        h3{
            margin: 0 0 8% 0;
            text-align: center;
            font-size: 1.8rem;
            line-height: 1.4;
        }
        ul{
            width: 56%;
            margin: 0 auto 14%;
            display: flex;
            justify-content: space-between;
            li > img{
                width: 100%;
                max-width: 30px;
            }
        }
        .box_profile_text{
            width: 70%;
            margin: 0 auto;
            font-size: 1.6rem;
            line-height: 1.8;
            p{
                padding: 0 0 8% 0;
            }
        }
    }
}

.container_mindeset{
    background-color: #F7F7F7;
    .wrapper_mindeset{
        padding: 22% 0 2% 0;
        text-align: center;
        h3{
            font-size: 2rem;;
            padding: 0 0 3% 0;
        }
        p{
            font-size: 1.6rem;
        }
        .box_mideset{
            width: 70%;
            margin: 0 auto;
            padding: 16% 0 0 0;
            ul{
                margin: 0 0 10% 0;
                li{
                    padding: 0 0 16% 0;
                    img{
                        margin: 0 auto 4%;
                        width: 14%;
                    }
                    h4{
                        margin: 0 0 6% 0;
                        font-size: 4.6vw;
                    }
                    p{
                        font-size: 4vw;
                        line-height: 1.4;
                        padding: 0 0 4% 0;
                    }
                }
            }
        }
    }
}

.container_skil{
    .wrapper_skil{
        padding: 22% 0 2% 0;
        text-align: center;
        h2{
            text-align: center;
            font-size: 1.8rem;
            margin: 0 0 10% 0;
        }
        .box_skil{
            ul{
                width: 70%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li{
                    width: calc(100% / 3);
                    margin: 0 0 12% 0;
                    img{
                        width: 58%;
                        margin: 0 auto 10%;
                        }
                    p{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) {

    .wrapper_profile{
        padding: 24% 0 20% 0;
        div > img{
        }
        .box_profile{
            h3{
                margin: 0 0 4% 0;
                font-size: 2.6rem;
                line-height: 1.4;
            }
            ul{
                width: 46%;
                margin: 0 auto 10%;
                li > img{
                    max-width: 44px;
                }
            }
            .box_profile_text{
                width: 70%;
                font-size: 1.6rem;
                p{
                }
            }
        }
    }

    .container_mindeset{
        .wrapper_mindeset{
            h3{
                font-size: 2.0rem;
                margin: 0;
            }
            p{
                font-size: 1.6rem;
            }
            .box_mideset{
                width: 84%;
                padding: 10% 0 0 0;
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    li{
                        width: 68%;
                        padding: 2% 0 10% 0;
                        img{
                            width: 16%;
                        }
                        h4{
                            font-size: 2.6rem;
                            margin: 4% 0 8% 0;
                        }
                        p{
                            font-size: 2rem;
                            padding: 0 0 2% 0;
                        }
                    }
                }
            }
        }
    }

    .container_skil{
        .wrapper_skil{
            h2{
            }
            .box_skil{
                ul{
                    li{
                        margin: 0 0 10% 0;
                        img{
                            width: 42%;
                            }
                        p{
                            font-size: 2.6rem;
                        }
                    }
                }
            }
        }
    }


}

@media (min-width: 1024px) {
    .wrapper_profile{
        padding: 170px 0 30px 0;
        div > img{
        }
        .box_profile{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            max-width: 920px;
            margin: 0 auto;
            img{
                width: 100%;
                max-width: 300px;
                margin: unset;
                object-fit: contain;
            }
            h3{
                text-align: left;
                font-size: 16px;
                margin: 0 0 14px 0;
            }
            ul{
                margin: unset;
                width: 34%;
                padding: 0 0 50px 0;
                li > img{
                    max-width: 24px;
                }
            }
            .box_profile_text{
                width: 100%;
                max-width: 540px;
                padding: 0 0 0 0;
                p{
                    font-size: 16px;
                }
            }
        }
    }

    .container_mindeset{
        .wrapper_mindeset{
            padding: 140px 0 10px 0;
            h3{
            }
            p{
                font-size: 2rem;
            }
            .box_mideset{
                padding: 60px 0 0 0;
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: unset;
                    li{
                        width: calc(100% / 3);
                        padding: 0 2%;
                        img{
                            max-width: 50px;
                        }
                        h4{
                            font-size: 2.6rem;
                            margin: 8% 0 12% 0;
                        }
                        p{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    .container_skil{
        .wrapper_skil{
            padding: 140px 0 10px 0;
            h2{
                font-size: 34px;
            }
            .box_skil{
                ul{
                    width: 72%;
                    li{
                        width: calc(100% / 4);
                        img{
                            max-width: 60px;
                            }
                        p{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

}
