
.wrapper_works{
    padding: 30% 0 20% 0;
    .box_category{
        display: flex;
        flex-wrap: wrap;
        flex-direction: unset;
        text-align: center;
        margin: 0 auto 20%;
        li{
            width: 50%;
            margin: 0 0 6% 0;
        }
    }
}


@media (min-width: 768px) {

    .wrapper_works{
        padding: 24% 0 20% 0;
        ul{
            flex-direction: unset;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            li{
                width: 46%;
                img{
                }
                dl{
                    font-size: 2rem;
                    dt{
                    }
                }
            }
        }
    }

}

@media (min-width: 1024px) {

    .wrapper_works{
        padding: 170px 0 30px 0;
        ul{
            width: 100%;
            max-width: 980px;
            padding: 0 0 20px 0;
            li{
                width: calc(100% / 3);
                max-width: 250px;
                margin: 0 auto 60px;
                a{
                    @mixin hideTapHighlightColor() {
                        //Prevent highlight colour when element is tapped
                        -webkit-tap-highlight-color: rgba(0,0,0,0);
                    }

                    @mixin hardwareAccel() {
                        //Improve performance on mobile/tablet devices
                        transform: translateZ(0);
                    }

                    @mixin improveAntiAlias() {
                        //Improve aliasing on mobile/tablet devices
                      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    }

                    $defaultDuration: .3s;
                    $primaryColour: #ececec;
                    $secondaryColour: #666;
                    $shadowColour: rgba(0, 0, 0, 0.899);

                    display: inline-block;
                    $borderWidth: 2px;

                    transition-duration: $defaultDuration;
                    transition-property: box-shadow;

                    @include hideTapHighlightColor();
                    @include hardwareAccel();

                    // box-shadow:
                    // inset 0 0 0 $borderWidth $primaryColour,0 0 1px rgba(0, 0, 0, 0); /* Hack to improve aliasing on mobile/tablet devices */

                    &:hover {
                        box-shadow:
                        inset 0 0 0 $borderWidth $secondaryColour,0 0 1px rgba(0, 0, 0, 0); /* Hack to improve aliasing on mobile/tablet devices */
                    }

                    margin: 0 0 10px 0;

                }
                img{
                }
                dl{
                    font-size: 14px;
                    dt{
                    }
                }
            }
        }
    }
}
